.headers{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 1.25rem;
}
.toggletext{
 cursor: pointer;
 color: var(--primary-color);
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px
}
