.head-search {
  display: flex;
  background-color: var(--white-color);
  border-radius: 8px 8px 8px 8px;
  border: 1px solid var(--black-color);
  width: 35.5rem;
}

.search-bar {
  width: 31.375rem;
  height: 3rem;
  border: none;
  background-color: transparent;
  border-right: 1px solid var(--black-color);
  font-size: 16px;
}
.search-button {
  background-color: transparent;
  width: 66px;
  height: 3rem;
  border: none;
  cursor: pointer;
}
