.card {
  display: flex;
  width: 159px;
  height: 232px;
  flex-direction: column;
  gap: 6px;
}
.card-img {
    width: 159px;
   
  height: 210px;
  display: flex;
  flex-direction: column;

}
.card-img>img{
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}
.card-follow-sec{
    background-color:var(--white-color) ;
    border-radius: 0 0 10px 10px ;
    padding: 5px;
}
.follow-btn{
    font-size: 10px;
    color:var(--white-color) ;
    background: var(--black-color);  
    border-radius: 12px;
    padding: 4px 8px;
    
}
.card-text{
    font-size: 14px

}