.head-button{
    color: var(--primary-color);
    margin-right: 20px;
    width: 170px;
    height: 47px;
    background: var(--black-color);
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}