.arrow img{
    height: 20px;
    width: 20px;
}
.arrow{
    position: absolute;
    top:50%;
    z-index: 1;
    border-radius: 50%;
    background: transparent;
    border: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.carousel-container{
    position: relative;
}
.arrow-right{
    right: 25px;
   
}
.arrow-left{
    left : -6px;
   
}
.swiper-wrapper{
    padding: 10px;
}